<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: '/header' %>

<div class="main-wrapper">
  <div class="container">
    <%= yield %>
  </div>
</div>

<%= render partial: '/footer' %>

</body>
</html>
